<h1 class="pb-2"><%= Category.model_name.human %>管理</h1>


<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t Category.human_attribute_name(:name) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>

      <td><%= category.name %></td>

      <td>
        <%= link_to "表示", [:admin, category], class: "btn btn-secondary" %>
        <%= link_to "編集", edit_admin_category_path(category), class: "btn btn-primary" %>
        <%= link_to "削除", [:admin, category], method: :delete, class: "btn btn-danger", data: { confirm: "本当によろしいですか？" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= paginate @categories %>


<%= link_to "新規作成", new_admin_category_path, class: "btn btn-success" %>