<h1><%= Category.model_name.human %>情報 表示</h1>

<table class="table table-striped">
  <tbody>
    <tr>
      <td><%= t Category.human_attribute_name(:name) %></td>

      <td><%= @category.name %></td>
    </tr>
  </tbody>
</table>

<%= link_to "編集", edit_admin_category_path(@category), class: "btn btn-primary" %>
<%= link_to "戻る", admin_categories_path, class: "btn btn-secondary" %>