<%= form_with(model: [:admin, product], local: true) do |f| %>
<% if product.errors.any? %>
<div class="alert alert-danger alert-dismissible">
  <h2><%= product.errors.count %> つのエラーがあります。</h2>

  <ul>
    <% product.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :admin_user_id %>
  <%= f.select :admin_user_id,
    @admin_users.pluck(:name, :id),
    { selected: current_admin_admin_user.id },
    { class: "form-control form-control-sm col-sm-4" }
  %>
</div>

<div class="form-group">
  <%= f.label :category_id %>
  <%= f.select :category_id,
    @categories.pluck(:name, :id),
    { include_blank: "--#{Category.model_name.human}を選択して下さい--" },
    { class: "form-control form-control-sm col-sm-4" }
  %>
</div>

<div class="form-group">
  <%= f.file_field :image %>
</div>

<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>
</div>


<%= f.submit "送信", class: "btn btn-success" %>