<h1><%= @product.title %></h1>


<div class="h4 d-inline-block pb-5">
  <span class="fas fa-layer-group mr-2"></span>
  <%= @product.category.name %>
</div>


<div class="pb-2">
  <span>
    <%= Product.human_attribute_name(:admin_user_id) %>：<%= @product.admin_user.name %>
  </span>
</div>


<div class="pb-5">
  <div class="col-lg-10 pl-0">
    <%= resized_image_tag(@product.image) %>
  </div>
</div>


<div class="pb-5">
  <p>
    <%== @product.description %>
  </p>
</div>


<%= link_to "編集", edit_admin_product_path(@product), class: "btn btn-primary" %>
<%= link_to "類似#{Product.model_name.human}作成", new_admin_product_copied_product_path(@product), class: "btn btn-primary" %>
<%= link_to "戻る", admin_products_path, class: "btn btn-secondary" %>