<% if products.present? %>
<div class="row product-font-size">
  <% products.each do |product| %>
  <div class="h6 d-inline-block col-12 col-lg-4 col-md-6">
    <div class="card border-light mb-4 rounded">
      <%= link_to product_path(product), {class: "position-relative product-card-text text-secondary"} do %>
      <div class="p-2">
        <%= resized_image_tag(product.image, size_name: :medium) %>
      </div>

      <div class="card-body">
        <span class="h5 font-weight-bold"><%= product.title %></span>
        <ul class="list-group my-2">
          <li class="list-group-item border-0 small p-0">
            <span class="fas fa-layer-group mr-2"></span>
            <%= product.category.name %>
          </li>
        </ul>
        <p class='mb-1'>
          <%= strip_tags(product.description).truncate(100, separator: '。', omission: '...') %>
        </p>
      </div>
      <% end %>
      <div class="card-footer bg-soft border-top">
        <div class="d-flex justify-content-between">
          <div class="col pl-0 text-center">
            <span class="text-muted font-small d-block mb-1">投稿日</span>
            <span class="text-dark">
              <%= product.created_at.strftime("%Y/%-m/%-d") %>
            </span>
          </div>
          <div class="col text-center">
            <span class="text-muted font-small d-block mb-1">更新日</span>
            <span class=" text-dark">
              <%= product.updated_at.strftime("%Y/%-m/%-d") %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% else %>
<p class="h5 d-inline-block text-secondary"><%= Product.model_name.human %>は存在しません</p>
<% end %>