<nav class="bg-white text-light">
  <ul class="nav navbar-nav pt-4">
    <li class="mb-3 text-center">
      <%= link_to admin_admin_users_path do %>
      <div class="d-inline-block text-left">
        <i class="fa fa-users mr-2"></i><%= AdminUser.model_name.human%>
      </div>
      <% end %>
    </li>
    <li class="mb-3 text-center">
      <%= link_to "#" do %>
      <div class="d-inline-block text-left">
        <i class="fas fa-chair mr-2"></i>家具
      </div>
      <% end %>
    </li>
    <li class="mb-3 text-center">
      <%= link_to admin_categories_path do %>
      <div class="d-inline-block text-left">
        <i class="fas fa-layer-group mr-2"></i><%= Category.model_name.human%>
      </div>
      <% end %>
    </li>
  </ul>
</nav>