<%= search_form_for @search, url: products_path, class: "search-form" do |f| %>
<div class="d-flex col-md-8 col-lg-6 pb-4 pl-0">
  <%= f.text_field :title_or_description_cont_any, placeholder: "カテゴリーかタイトルで検索", class: "form-control" %>
  <%= f.submit "検索", name: nil, class: "btn btn-primary ml-2" %>
</div>
<% end %>


<% if @category.nil? %>
<h1 class="h2"><%= Product.model_name.human %>一覧</h1>
<% else %>
<h1 class="h2"><%= @category.name %> 一覧</h1>
<% end %>


<%= render "product_card_list",
  products: @products %>


<%= paginate @products %>